body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background: #e8eced;
  height: 100%;
}

html {
  zoom: 0.5;
  background: #e8eced;
  height: 100%;
}

img {
  max-width: 100%;
}
.mainRow .col-12 {
  margin-bottom: -50px;
}
.mainRow {
  position: relative;
  background: #869cde;
  padding: 200px 15px 15px;
  margin-bottom: 70px;
}

.avatar {
  margin-top: -100px;
  max-width: 50%;
  border-radius: 50%;
  border: 10px solid yellow;
  box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
}

.bio:empty {
  display: none;
  color: black;
}
.bio h3 {
  color: black;
}

.box {
  padding: 20px;
  border-radius: 10px;
}

.box a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 32px;
}

.links a {
  display: inline-block;
  padding: 5px 10px;
  font-size: 25px;
}

.links a img {
  width: 25px;
  margin-right: 5px;
}

.info {
  font-size: 30px;
}
